<section
  class="mb-3 flex flex-col items-center header"
>
  {{ $lazy := site.Params.enableImageLazyLoading | default true }}
  {{ $altText := (site.Language.Params.Author.name | default "Author") }}
  {{ with site.Language.Params.Author.image }}
    {{ $authorImage := resources.Get . }}
    {{ if $authorImage }}
      {{ $imgClass := "h-auto w-36 rounded-full hover:border hover:border-neutral-200" }}
      {{ partial "picture.html" (dict "img" $authorImage "alt" $altText "class" $imgClass "lazy" $lazy) }}
    {{ end }}
  {{ end }}
  <h1 class="text-5xl pt-2 font-extrabold text-neutral-100">
    {{ site.Language.Params.Author.name | default site.Title }}
  </h1>
  {{ with site.Language.Params.Author.headline }}
    <h2 class="text-xl text-neutral-500 dark:text-neutral-300">
      {{ . | markdownify | emojify }}
    </h2>
  {{ end }}
  <div class="mt-1 text-2xl">
    {{ partialCached "author-links.html" . }}
  </div>
</section>
